.column {
  // display: flex;
  // flex-wrap: wrap;
  border: 1px black solid;
  flex: 1;
  background-color: lightpink;
  font-family: "Comic Sans", cursive;
}

.columnDrop {
  background-color: lightblue;
}
h3 {
  background-color: lightgreen;
}
